* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
   width: 100%;
   height: 100vh;
   overflow: hidden;
}
:root {
  --grid-rows: 1;
  --grid-cols: 1;
  background-color: white;
}

.container {
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  height: 544px;
  max-width: 544px;
  justify-content: center;
  background-color: white;
}

.table {
  padding: 1em;
  border: 1px solid coral;
  text-align: center;
  border: 1px dashed rgb(52, 62, 71);
}

header {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 20px;
}

.outer {
  display: flex;
  justify-content: center;
  padding: 50px;
  /* border: 1px solid black; */
  margin-bottom: 20px;
}

footer {
  text-align: center;
  /* border: 1px solid black; */
  background-color: royalblue;
  font-family: 'Monsterrat', sans-serif;
  color: white;
  padding: 20px;
}

header > button {
  padding: 5px 10px;
}

